@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    margin: 7% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


body{
    height: 100vh; /*100% da tela*/
    background-color: blanchedalmond;
    box-sizing: border-box;
}

.negrito{
    color: brown;
}

h1{
    font-size: 36px; 
    font-family: "Quicksand", sans-serif;
}


.apresentacao_conteudo{
    display: flex;
    width: 615px;
    flex-direction: column;
    gap: 40px
}

p{
    font-family: "Zilla Slab", serif;
    font-size: 24px;
}

.botoes{
    display: flex;
    justify-content: space-between;
}

#botao1{
    padding: 21.5px 0 ;
    background-color: brown;
    border-radius: 15px;
    width: 280px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color:antiquewhite;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
}

#botao2{
    padding: 21.5px 0;
    width: 280px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 1000;
    background-color: brown;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
}

#profileMobile{
    display: none;
}

@media screen and (max-width: 1200px ){
    .apresentacao{
        flex-direction: column;
    }
    h1{
        font-size: 30px;
    }
    
    .apresentacao_conteudo{
        display: flex;
        width: 300px;
        flex-direction: column;
    }

    p{
        width: 300;
        text-align: justify;
        font-family: "Zilla Slab", serif;
        font-size: 20px;
    }

    #botao1{
        font-size: 24px;
        width: 150px;
    }
    
    #botao2{

        width: 140px;
        font-size: 24px;
    }

    #profileMobile{
        display: block; /*EXIBE PARA MOBILE*/
        margin-top: 12px;
        border-radius: 100%;
        width: 150px;
        justify-content: space-between;
        align-self: center;
    }

    #profile{
        display: none;
    }

}